@{
    ViewBag.Title = "ForgotEmail";
    Layout = "~/Views/Shared/_simpleLayout.cshtml";
}

@{
    Layout = "~/Views/Shared/_simpleLayout.cshtml";
}


<link href="~/Content/toastr.css" rel="stylesheet" />

<div data-ng-controller="$forgotPasswordController as password" id="forgotUserController">
    <img id="picture" ng-src="{{password.backGroundPicture}}" alt="ForgotPassword Background" class="full-bg animation-pulseSlow">
    <div id="login-container" class="animation-fadeIn">
        <div class="login-title text-center">
            <h1>
                <strong>@Model.BrandName</strong> @Model.BrandTagline<br/>
                <small>Reset Password</small>
            </h1> 
            
        </div>
        <div class="block push-bit">
            <form id="forgotPasswordForm" data-ng-submit="password.onForgotPasswordFormValidate()" name="password.forgotPasswordForm" class="form-horizontal form-bordered form-control-borderless" novalidate>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                            <input type="email"
                                   id="email"
                                   name="email"
                                   class="form-control ng-class:{'error': password.showForgotPasswordFormErrors && !password.forgotPasswordForm.email.$valid}"
                                   ng-required="true"
                                   placeholder="Email"
                                   data-ng-model="password.email"
                                   required>
                            <div role="alert" class="help-inline error">
                                <span class="error has-error" ng-show="password.showForgotPasswordFormErrors && password.forgotPasswordForm.email.$error.required">Please enter your email</span>
                                <span class="error has-error" ng-show="password.showForgotPasswordFormErrors && password.forgotPasswordForm.email.$invalid">Please enter a valid email</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group form-actions">
                    <div class="col-xs-12 text-right">
                        <button type="submit" id="resetPassword" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>Reset Password</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <a href="http://lms.dev/login" id="link-reminder-login"><small>Log In</small></a> -
                        <a href="http://lms.dev/register" id="link-register-login"><small>Create a new account</small></a>
                    </div>
                </div>
            </form>
            <div class="alert hidden text-center" id="msgWindowEmail"><strong>Email does not exist!</strong><br>Please make sure your email is correct.</div>
        </div>
    </div>
</div>

@section Scripts{


    <script src="~/Scripts/sabio.services.forgotPassword.js"></script>

    <!-- Load and execute javascript code used only in this page -->
   
    <script src="~/Scripts/app/services/alertService.js"></script>
    <script src="~/Scripts/sabio.services.login.js"></script>
    <script src="~/Scripts/sabio.services.userTokens.js"></script>
    <script scr="~/Scripts/sabio.services.messages.js"></script>
    <script src="/js/pages/login.js"></script>
    <script>$(function () { Login.init(); });</script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript">


        sabio.page.startUp = function () {
           
            sabio.page.userController = sabio.ng.getControllerInstance($("#forgotUserController"));
        };
      
        // var service = new sabio.tests.services.employeeFactory($baseService);

        sabio.services.forgotPasswordFactory = function ($baseService) {
            var aSabioServiceObject = sabio.services.forgotPassword;
            var newService = $baseService.merge(true, {}, aSabioServiceObject, $baseService);
            return newService;
        }

        // var controller = new sabio.page.employeeControllerFactory(....);
        sabio.page.forgotPasswordControllerFactory = function (
            $scope
            , $baseController
            , $forgotPasswordService
            , $alertService) {

            var vm = this; //this points to a new {}

            //-- this line to simulate inheritance
            $baseController.merge(vm, $baseController);

            //vm.user = null;

            vm.$scope = $scope;
            vm.$forgotPasswordService = $forgotPasswordService;

            vm.settings = _settings;

            vm.cycleThruBackgroundPic = _cycleThruBackgroundPic;
            vm.thisBackGroundPic = _thisBackGroundPic;

            vm.onForgotPasswordFormValidate = _onForgotPasswordFormValidate;
            vm.onForgotPasswordFormSubmit = _onForgotPasswordFormSubmit;

            vm.onSendForgotPasswordRequestSuccess = _onSendForgotPasswordRequestSuccess;
            vm.onSendForgotPasswordRequestError = _onSendForgotPasswordRequestError;

         

            //this is a wrapper for our small dependency on $scope
            vm.notify = vm.$forgotPasswordService.getNotifier($scope);

            //this is like the sabio.startUp function
            render();

            function render() {
                vm.settings();
                vm.cycleThruBackgroundPic();
            }

            function _cycleThruBackgroundPic() {
                var randomNumber = (Math.random()) * 10;
                var Number = Math.floor(randomNumber) + 1;
                console.log(Number);
                var src;
                switch (Number) {
                    case 1:
                    case 2:
                        src = "http://sabio.la/images/hacks/IMG_6094.JPG";
                        break;
                    case 3:
                    case 4:
                        src = "http://sabio.la/images/hacks/img19.jpg";
                        break;
                    case 5:
                    case 6:
                        src = "http://sabio.la/images/hacks/IMG_6021.JPG";
                        break;
                    case 7:
                    case 8:
                        src = "http://sabio.la/images/hacks/women.JPG";
                        break;
                    case 9:
                    case 10:
                        src = "http://sabio.la/images/hacks/IMG_6057.JPG";
                        break;
                }

                console.log(src);

                vm.thisBackGroundPic(src);
            }

            function _thisBackGroundPic(src) {
                vm.backGroundPicture = src;
            }

            function _onForgotPasswordFormValidate() {
                console.log("submit");
                vm.showForgotPasswordFormErrors = true;

                if (vm.forgotPasswordForm.$valid) {
                    console.log("form valid");
                    vm.onForgotPasswordFormSubmit();
                }
            }

            function _onForgotPasswordFormSubmit() {
                var forgotPasswordData = "email=" + vm.email;
                vm.$forgotPasswordService.sendForgotPasswordRequest(forgotPasswordData, vm.onSendForgotPasswordRequestSuccess, vm.onSendForgotPasswordRequestError);
                vm.showForgotPasswordFormErrors = false;
            }

            function _onSendForgotPasswordRequestSuccess(data) {
                var message = "Reset password email has been sent to your inbox"
                vm.$alertService.onSuccess(message);
            }


            function _onSendForgotPasswordRequestError(jqXHR, textStatus, errorThrown) {
                vm.$alertService.onError(jqXHR.responseJSON.errors[0]);
            }


            function _settings() {
                vm.showForgotPasswordFormErrors = false;
            }
            /*
            Below here is where we register our service and controller with ng
            */
        }

        sabio.ng.addService(sabio.ng.app.module
            , "$forgotPasswordService"
            , ["$baseService"]
            , sabio.services.forgotPasswordFactory);

        sabio.ng.addController(sabio.ng.app.module
            , "$forgotPasswordController"
            , ['$scope', '$baseController', "$forgotPasswordService", "$alertService"]
            , sabio.page.forgotPasswordControllerFactory);

    </script>
}
         