
@{
    ViewBag.Title = "AssignSections";
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

<div class="content-header">
<div class="header-section">
    <h1>
        <i class="fa fa-globe"></i><strong>Assign Sections to Users</strong><br><small>Lorem ipsum dolor sit amet</small>
    </h1>
</div>
</div>

<ul class="breadcrumb breadcrumb-top">
    <li>Pages</li>
    <li>e-Learning</li>
    <li><a href=""></a></li>
</ul>

