<div class="col-md-12">
    <div class="widget">
        <div class="widget-advanced">
            <div class="widget-header text-center themed-background-dark">
                <div class="widget-options">
                    <!--<button title="" data-toggle="tooltip" class="btn btn-xs btn-default" data-original-title="Love it!"><i class="fa fa-heart text-danger"></i></button>-->
                </div>
                <h3 class="widget-content-light">
                    <a ng-click="">{{wiki.wikiPage.title}}</a><br>
                    <small>{{wiki.currentSpace.title}}</small>
                </h3>
            </div>
            <div class="widget-main">
                <a class="widget-image-container animation-fadeIn" href="javascript:void(0)">
                    <span class="widget-icon themed-background"><i class="fa fa-globe"></i></span>
                </a>

                <hr>

                <p ng-if="!wiki.wikiPage.contents">No content has been entered for this page yet.</p>

                <div ng-repeat="content in wiki.wikiPage.contents">

                    <div class="animate-if"
                         data-ng-if="'Text' == wiki.contentTypes[content.contentTypeId] && content.pageContent"
                         data-ng-include="'/Scripts/app/wiki/templates/content/text.html'"></div>

                    <div class="animate-if"
                         data-ng-if="'Code' == wiki.contentTypes[content.contentTypeId] && content.pageContent"
                         data-ng-include="'/Scripts/app/wiki/templates/content/code.html'"></div>

                    <div class="animate-if"
                         data-ng-if="'Highlight' == wiki.contentTypes[content.contentTypeId] && content.pageContent"
                         data-ng-include="'/Scripts/app/wiki/templates/content/highlight.html'"></div>

                    <div class="animate-if"
                         data-ng-if="'Image' == wiki.contentTypes[content.contentTypeId] && content.pageContent"
                         data-ng-include="'/Scripts/app/wiki/templates/content/image.html'"></div>

                    <div class="animate-if"
                         data-ng-if="'List' == wiki.contentTypes[content.contentTypeId] && content.pageContent"
                         data-ng-include="'/Scripts/app/wiki/templates/content/list.html'"></div>

                    <div class="animate-if"
                         data-ng-if="'Wiki' == wiki.contentTypes[content.contentTypeId] && content.pageContent"
                         data-ng-include="'/Scripts/app/wiki/templates/content/wiki.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>