@{
    ViewBag.Title = "TrackList";
}


@*<div class="trackContainer thewidget">
        <div class="col-md-12 ">
        </div>
    </div>*@




    <!-- Courses Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-globe"></i><strong>Course Tracks</strong><br><small>Lorem ipsum dolor sit amet</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Pages</li>
        <li>e-Learning</li>
        <li><a href="">Intro to HTML5</a></li>
    </ul>
    <!-- END Courses Header -->
    <!-- Main Row -->
    <div class="row">
        <div class="col-md-8 trackcontainer thewidget">
            <!-- Course Widget -->
            <div class="widget" style="display:none">
                <div class="widget-advanced">
                    <!-- Widget Header -->
                    <div class="widget-header text-center themed-background-dark">
                        <div class="widget-options">
                            <button class="btn btn-xs btn-default" data-toggle="tooltip" title="Love it!"><i class="fa fa-heart text-danger"></i></button>
                        </div>
                        <h3 class="widget-content-light">
                            <a href="page_ready_elearning_course_lessons.html">Here Goes The Course Track Name</a><br>
                            <small>Web Design</small>
                        </h3>
                    </div>
                    <!-- END Widget Header -->
                    <!-- Widget Main -->
                    <div class="widget-main">
                        <a href="javascript:void(0)" class="widget-image-container animation-fadeIn">
                            <span class="widget-icon themed-background"><i class="fa fa-globe"></i></span>
                        </a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-default pull-right">
                            15 lessons,
                            <i class="fa fa-clock-o"></i> 8 hours
                        </a>
                        <a href="javascript:void(0)" class="btn btn-sm btn-success">Free with Subscription</a>

                        <!-- course track -->

                        <div class="widget-mainContent" style="display:none">
                            <hr>
                            <div>
                                <h3 class="sub-header">Prerequisites</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor?</p>
                            </div>
                            <div>
                                <h3 class="sub-header">Expected Outcome</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor?</p>
                            </div>
                            <div>
                                <h3 class="sub-header">Cost</h3>
                                <p>12345</p>
                            </div>
                        </div>
                        <!-- course track end -->
                    </div>
                    <!-- END Widget Main -->
                </div>
            </div>
            <!-- END Course Widget -->
        </div>
        <div class="col-md-4">
            <!-- About Block -->
            <div class="block">
                <!-- About Content -->
                <div class="block-section">
                    <a href="page_ready_elearning_course_lesson.html" class="btn btn-lg btn-primary btn-block"><i class="fa fa-play"></i> Start Learning</a>
                </div>
                <div class="block-section">
                    <a href="javascript:void(0)" class="btn btn-lg btn-default btn-block"><i class="fa fa-download"></i> Download files</a>
                </div>
                <!-- END About Content -->
            </div>
            <!-- END About Block -->
            <!-- Share Block -->
            <div class="block">
                <!-- Share Title -->
                <div class="block-title">
                    <h2><strong>Share</strong> Course</h2>
                </div>
                <!-- END Share Title -->
                <!-- Share Content -->
                <div class="block-section text-center">
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Facebook"><i class="si si-facebook"></i></a>
                        <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Twitter"><i class="si si-twitter"></i></a>
                        <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Google Plus"><i class="si si-google_plus"></i></a>
                        <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Pinterest"><i class="si si-pinterest"></i></a>
                    </div>
                </div>
                <!-- END Share Content -->
            </div>
            <!-- END Share Block -->
            <!-- Your Account Block -->
            <div class="block">
                <!-- Your Account Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="Settings">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <h2><strong>Account</strong> Status</h2>
                </div>
                <!-- END Your Account Title -->
                <!-- Your Account Content -->
                <div class="block-section">
                    <table class="table table-borderless table-striped table-vcenter">
                        <tbody>
                            <tr>
                                <td class="text-right" style="width: 30%;">
                                    <img src="img/placeholders/avatars/avatar2.jpg" alt="avatar" class="img-circle">
                                </td>
                                <td><a href="page_ready_user_profile.html"><strong>John Doe</strong></a><br><em>e-Learner</em></td>
                            </tr>
                            <tr>
                                <td class="text-right">Account</td>
                                <td>
                                    <strong>Basic</strong> <a href="page_ready_pricing_tables.html">Upgrade?</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right">Courses</td>
                                <td>
                                    <i class="fa fa-plus fa-fw text-info"></i> <a href="javascript:void(0)"><strong>3</strong> New</a><br>
                                    <i class="fa fa-heart fa-fw text-danger"></i> <a href="javascript:void(0)"><strong>5</strong> Favorites</a><br>
                                    <i class="fa fa-check fa-fw text-success"></i> <a href="javascript:void(0)"><strong>10</strong> Completed</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END Your Account Content -->
            </div>
            <!-- END Your Account Block -->
            <!-- Most Viewed Courses Block -->
            <div class="block">
                <!-- Most Viewed Courses Title -->
                <div class="block-title">
                    <h2><strong>Most Viewed</strong> Courses</h2>
                </div>
                <!-- END Most Viewed Courses Title -->
                <!-- Most Viewed Courses Content -->
                <table class="table table-striped table-vcenter">
                    <tbody>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Intro to HTML5</a><br>
                                <small>Web Design</small>
                            </td>
                            <td class="text-center" style="width: 70px;">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Vector Graphics</a><br>
                                <small>Design &amp; Illustration</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Using Cinema 4D</a><br>
                                <small>3D & Motion Graphics</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Intro to Illustrator</a><br>
                                <small>Design &amp; Illustration</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Photoshop for Photographers</a><br>
                                <small>Photography</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Learn Javascript in a Month</a><br>
                                <small>Code</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Intro to Lightroom</a><br>
                                <small>Photography</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Learn CSS3 in a Week</a><br>
                                <small>Web Design</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="page_ready_elearning_course_lessons.html">Jquery: The Essentials</a><br>
                                <small>Code</small>
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs">
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END Most Viewed Courses Content -->
            </div>
            <!-- END Most Viewed Courses Block -->
        </div>
    </div>
    <!-- END Main Row -->






<!-- END Page Content -->
@section Scripts {
    <script src="~/Scripts/Sabio.Services.CourseTracks.js"></script>
    <script type="text/javascript">

        sabio.page.startUp = function () {

            sabio.page.loadCourseTracks();

        }

        sabio.page.loadCourseTracks = function () {

            sabio.services.courseTracks.getTracks(sabio.page.getTracksSuccess, sabio.page.ajaxError);

        }

        sabio.page.getTracksSuccess = function (data, status, xhr) {

            if (!data) {

                return;
            }

            for (var i = 0; i < data.items.length; i++) {

                var trackData = {};

                trackData.cost = data.items[i].cost;
                trackData.courseId = data.items[i].courseId;
                trackData.expectedOutcome = data.items[i].expectedOutcome;
                trackData.prerequisites = data.items[i].prerequisites;

                sabio.page.addTrackToDom(trackData);

            }
        }

        sabio.page.addTrackToDom = function (minions) {

            var newTrack = sabio.page.getClone();

            var theCourseName = sabio.page.getCourse(minions);

            newTrack.find(".courseTrackId").html(minions.courseId);
            newTrack.find("#courseName").html(theCourseName);
            newTrack.find("#prerequisites").html(minions.prerequisites);
            newTrack.find("#expectedOutcome").html(minions.expectedOutcome);
            newTrack.find("#cost").html("&#36;"+ minions.cost);
            newTrack.find("#cost2").html("&#36;" + minions.cost);

            var trackTarget = $(".thewidget");

            trackTarget.attr("data-target", "true")

            trackTarget.append(newTrack);

            sabio.page.wireUpWidgets(newTrack, minions);

            return newTrack;

        }

        sabio.page.getClone = function () {

            return $($("#courseTrackTemplate").html()).clone();

        }

        sabio.page.getCourse = function (minions) {

            var theCourseName;
            switch (minions.courseId) {
                case 1:
                    theCourseName = "Frontend Training";
                    break;
                case 2:
                    theCourseName = "Full Stack Training";
                    break;
                case 3:
                    theCourseName = "Virtual Academy";
                    break;
                case 4:
                    theCourseName = "Ruby Development";
                    break;
            }
            return theCourseName;
        }

        sabio.objects = [];

        sabio.page.wireUpWidgets = function (context, data) {

            var widgetsFound = $(".widget-header", context);

            sabio.objects.push(widgetsFound);

            widgetsFound.on("click", sabio.page.handlers.onWidgetClicked);
        }

        sabio.page.handlers.onWidgetClicked = function () {

            $(".widget-header").click(function () {
                $(this).parent().find(".widget-mainContent").stop().slideToggle();
                return false;
            });

        }

        sabio.page.ajaxError = function (jqXHR, textStatus, errorThrown) {

            sabio.page.logToBottom(jqXHR.responseJSON);
            $("msgWindow").show();
            $("#msgWindow").addClass("alert-danger");
            $("#msgWindow").removeClass("alert-info");
        }

    </script>


    <script type="text/template" id="courseTrackTemplate">

        <div class="widget">
            <div class="widget-advanced">
                <!-- Widget Header -->
                <div class="widget-header text-center themed-background-dark">
                    <div class="widget-options">
                        <button class="btn btn-xs btn-default" data-toggle="tooltip" title="Love it!"><i class="fa fa-heart text-danger"></i></button>
                    </div>
                    <h3 class="widget-content-light">
                        <a href="#" id="courseName">Here Goes The Course Track Name</a><br>
                        <small> Web Design</small>
                    </h3>
                </div>
                <!-- END Widget Header -->
                <!-- Widget Main -->
                <div class="widget-main">
                    <a href="javascript:void(0)" class="widget-image-container animation-fadeIn">
                        <span class="widget-icon themed-background"><i class="fa fa-globe"></i></span>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-default pull-right">
                        15 lessons,
                        <i class="fa fa-clock-o"></i> 8 hours
                    </a>
                    <a href="javascript:void(0)" class="btn btn-sm btn-success" id="cost2">&#36;Free with Subscription</a>

                    <!-- course track -->

                    <div class="widget-mainContent" style="display:none">
                        <hr>
                        <div>
                            <h3 class="sub-header">Prerequisites</h3>
                            <p id="prerequisites">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor?</p>
                        </div>
                        <div>
                            <h3 class="sub-header">Expected Outcome</h3>
                            <p id="expectedOutcome">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum. Donec vitae ultrices dolor?</p>
                        </div>
                        <div>
                            <h3 class="sub-header">Cost</h3>
                            <p id="cost">12345</p>
                        </div>
                    </div>
                    <!-- course track end -->
                </div>
                <!-- END Widget Main -->
            </div>
        </div>
        <!-- END Course Widget -->

    </script>


}
