@model Sabio.Web.Models.ViewModels.WikiViewModel

@{
    Layout = "~/Views/Shared/_dashboardLayout.cshtml";
}

@section styles{

    <link href="~/content/angular-ui-tree.css" rel="stylesheet" />
    <link href="~/Sabio.CSS/ng-tags-input.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/highlightjs-solarized-dark.css">
}

@Html.Partial("Partials/_NgHeader")

<div ng-view></div>


<script type="application/json" id="wikiContentTypes">
    @Html.RawJson(Model.ContentTypesEnum.ToDictionaryByValue())
</script>

<script type="application/json" id="wikiHighlightLanguages">
    @Html.RawJson(Model.HighlightLanguagesEnum)
</script>


@section pageInitScripts
{

    @*<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>

        <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>*@

    <script src="~/Scripts/ng/angular-ui-tree.js"></script>
    <script src="~/Scripts/ng/angular-drag-and-drop-lists.min.js"></script>
    <script src="~/js/helpers/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ng/angular-ckeditor.js"></script>
    <script src="~/Scripts/ng/angular-ckeditor-placeholder.js"></script>
    <script src="~/Scripts/ng/ng-tags-input.min.js"></script>

    <script src="~/Scripts/dropzone.js"></script>
    <script src="~/Scripts/app/directives/angular-dropzone.js"></script>

    <script src="~/scripts/highlight.min.js"></script>
    <script src="~/scripts/ng/angular-highlightjs.min.js"></script>

    <script src="~/Scripts/ng/angular-smooth-scroll.min.js"></script>

    <script type="text/javascript">
        sabio.extraNgDependencies = ["ckeditor", "dndLists", "ui.tree", 'ngAnimate', 'ui.bootstrap', 'ngTagsInput', 'ngDropzone','hljs','smoothScroll']
    </script>

}




@section scripts{

    <script src="~/Scripts/sabio.services.wiki.js"></script>
    <script src="~/Scripts/sabio.services.wikiContent.js"></script>
    <script src="~/Scripts/sabio.services.wikiTree.js"></script>
    <script src="~/Scripts/sabio.services.modules.js"></script>
    <script src="~/Scripts/app/services/wikiService.js"></script>
    <script src="~/Scripts/app/services/wikiContentService.js"></script>
    <script src="~/Scripts/app/services/wikiTreeService.js"></script>
    <script src="~/Scripts/app/services/modulesService.js"></script>

    <script src="~/Scripts/app/admin/wiki/controllers/index.js"></script>
    <script src="~/Scripts/app/admin/wiki/controllers/content.js"></script>
    <script src="~/Scripts/app/admin/wiki/controllers/manage.js"></script>
    <script src="~/Scripts/app/admin/wiki/controllers/tree.js"></script>
    <script src="~/Scripts/app/services/utilityService.js"></script>
    <script src="~/Scripts/app/admin/wiki/wiki.config.js"></script>
}