<div class="row">
    <div class="col-sm-6">

        <div class="row animate-repeat" data-ng-repeat="item in admin.meetings">
            <div class="col-sm-8">
                <a ng-href="#/manage/{{item.id}}">
                    <i class="fa fa-user"></i> {{item.name}}
                </a>
            </div>
            <div class="col-sm-2">
                <span class="pull-right">{{item.date  | date:'shortDate'}}</span>
            </div>
            <div class="col-sm-2">{{item.startTime | date:'h:mma Z' }}</div>
        </div>
    </div>
</div>
