
@{
    ViewBag.Title = "_eventLayout";
    Layout = "~/Views/Events/Index.cshtml";
}

<h2>_eventLayout</h2>

<select>
    <option value="orientaion">Orientation</option>
    <option value="open House">Open House</option>
    <option value="Campus Tour">Campus Tour</option>
    <option value="graduation">Graducation</option>
</select>